*.pyc
__pycache__
myvenv
db.sqlite3
/static
.DS_Store
requirements_backup
/nvenv
django-twilio-0.8.0/
rentWare/env
rentWareApp/templates/rentWareApp/
rentWare/settings.py

customers.csv
customers.xml
mycsv.py

# Elastic Beanstalk Files
#.elasticbeanstalk/*
#!.elasticbeanstalk/*.cfg.yml
#!.elasticbeanstalk/*.global.yml
