<div class="container">

  <div class="row" >
    <div class="col-sm-1"></div>

  <h2>inventory: {{inventory}} {{inventory.inventorytype}}</h2>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="#">Guests</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'inventory_detail_contractors' pk=inventory.pk %}">Contractors</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Employees</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Administration</a>
    </li>
  </ul>
