{% extends 'base/base.html' %}

{% block content %}


{% load staticfiles %}


<link rel="stylesheet" href="{% static 'css/base.css' %}"></link>

<div class="container">

  <div class="row" >

    <div class="col-sm-1"></div>


      <form class="navbar-form" role="search" method="get">
        <div class="input-group add-on">
          <input class="form-control" placeholder="Search" name="search_term" id="search_term" type="text">
          <div class="input-group-btn">
            <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>


<span class="glyphicon btn btn-primary outline" aria-hidden="true"><a href="{% url 'inventory_create' %}">New Inventory</span></a>


          <table style="width:100%">
            <caption><h1>Inventory</h1></caption>
            <tr>
              <th>PartID</th>
              <th>Category</th>
              <th>Name</th>
              <th>Rates</th>
              <th>Specification</th>
              <th>Edit/View</th>
            </tr>
{% for g in object_list%}
            <tr>
              <td style="width:10%"><a href="{% url 'inventory_detail' g.slug %}" >
              {{ g.partID }}
              </a></td>
              <td style="width:10%">{{ g.category.name }}</td>
              <td style="width:10%">{{ g.name }}</td>
              <td style="width:10%"><a href="{% url 'rate_list' g.slug %}">Rate</a></td>
              <td style="width:10%"><a href="{% url 'specification_list' g.slug %}">Rate</a></td>
              <td style="width:1%"><a href="{% url 'inventory_update' g.slug %}"><span class="glyphicon glyphicon-picture"></span></a></td>
            </tr>
{% endfor %}
          </table>

          <div class="pagination">
                  <span class="step-links">
                      {% if page_obj.has_previous %}
                          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                      {% endif %}

                      <span class="current">
                          Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                      </span>

                      {% if page_obj.has_next %}
                          <a href="?page={{ page_obj.next_page_number }}">next</a>
                      {% endif %}
                  </span>
              </div>

{% endblock %}
