{% extends 'base/base.html' %}

{% block content %}

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/base.css' %}"></link>

<div class="container">

    <a class="outline" href="{% url 'customer_list' %}">Back to customer list</a>
    <br/>
    <br/>
<label>Company Code</label><p>{{customer_detail.AccountCode}}</p>
<label>Company Name</label><p>{{customer_detail.CompanyName}}</p>
<label>Company VATNumber</label><p>{{customer_detail.VATNumber}}</p>
<ul>
<caption>Contacts</caption>
{% for c in contacts %}
<li><label>First Name</label><p>{{c.firstname}}</p></li>
{% endfor %}
</ul>

{% endblock %}
