{% extends 'base/base.html' %}

{% block content %}


<div class="row" >

<div class="col-sm-2"></div>
  <div class="col-sm-4">


{% if isnew == 0 %}
 <lable  for="visit"><h1>New Visit:</h1></lable>
{% else %}
  <lable  for="visit"><h1>Edit Visit</h1></lable>
{% endif %}

<form method="POST" class=".form-inline" class="post-form">{% csrf_token %}

  <form method="post" role="form">
            {% for field in form %}
            <div id="div_{{ field.html_name }}"
                 class="form-group{% if field.errors %} has-error{% endif %}">
                {{ field.label_tag }}
                {{ field }}
                    <div class="text-muted pull-right">
                    <small>{{ field.help_text }}</small>
                </div>
                <div class="help-block">
                    {{ field.errors }}
                </div>
            </div>
            {% endfor %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% csrf_token %}
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>


</div>
</div>


<input type="text" value="2012-05-15 21:05:00" id="datetimepicker">


<script>

$('#datetimepicker').datetimepicker({
    format: 'yyyy-mm-dd hh:ii'
});

//$('#datetimepicker').datetimepicker();

//  $("#id_arrival_date").datetimepicker({ datetimeFormat: 'yy-mm-dd+HH:MM' });

//  $("#id_arrival_date").value

</script>

{% endblock %}
