{% extends 'base/base.html' %}

{% block content %}

<div class="row" >

<div class="col-sm-2"></div>
  <div class="col-sm-4">

{% if isnew == 0 %}
 <lable  for="rental"><h1>New Rental:</h1></lable>
{% else %}
  <lable  for="rental"><h1>Edit Rental</h1></lable>
{% endif %}

<form method="POST" class=".form-inline" class="post-form">{% csrf_token %}

  <form method="post" role="form">
            {% for field in form %}
            <div id="div_{{ field.html_name }}"
                 class="form-group{% if field.errors %} has-error{% endif %}">
                {{ field.label_tag }}
                {{ field }}
                    <div class="text-muted pull-right">
                    <small>{{ field.help_text }}</small>
                </div>
                <div class="help-block">
                    {{ field.errors }}
                </div>
            </div>
            {% endfor %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% csrf_token %}
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>


</div>
</div>

{% endblock %}
