

{% extends 'base/base.html' %}
{% block content %}
<div class="row" >
  <div class="col-sm-1"></div>
  <div class="col-sm-10" class="media-left media-middle">
    ·          Machines come preloaded with OS, Office and Antivirus. Any additional software, settings or wallpaper (unique to the client), etc can be loaded on all machines by replicating an image. There is an additional charge for labour to do this.

    ·          Delivery charges are levied according to distance from our offices in Observatory, Cape Town and quantity of equipment.

    ·          A deposit of R1000 per unit is payable upfront for new clients. This will be reimbursed on the return of our equipment. No deposits will be refunded for tablet rental until any Apple ID passwords are removed.

    ·          Equipment can be collected on the day before your rental after 15h00 at no extra charge. Please return all equipment before 09h00 on the day after your rental finishes. Late returns will be charged at the daily rate.

    ·          The rental amount is payable in advance. All payments are accepted free of exchange and bank charges. Schedule of equipment will only take place on confirmation of payment in our bank account. Please make sure all funds clear in sufficient time for us to deliver. Please sign this order, scan and email back to us at info@rentware.co.za.

    ·          Our banking details are as follows:

    Account Name: Benchmark Solutions cc

    Bank: Standard Bank

    Branch: Mowbray, Cape Town

    Branch Code: 024909

    Current Account Number: 271591315



        VAT, unless stated, is excluded

        Printers are rented without cartridges. Cartridges are supplied on either a cost per page or outright purchase option. Cost per page printing charges are payable at the end of the rental period.
        This quotation is valid for 7 days and subject to stock availability.
        Pricing may change subject to exchange fluctuation.
        Rentals subject to signing of rental agreement / valid proof of ID/ Company Registration documents and payment.
        Interest of 18% per annum charged on overdue accounts.
        ALL equipment is and will at all times remain the property of RENTWARE COMPUTER RENTALS cc.
        The equipment is on RENTAL subject to the supply of support services exclusively by RENTWARE COMPUTER RENTALS cc.
        3G devices are supplied with sim cards and clients are prohibited from installing their own sim cards. Equipment Data bundles expire after 30 days or when the allocated amount of data has been used. Please contact us to reload your datacard. You will be charged for any additional data-bundles.
        Onsite support services are available in Cape Town and are billed at R320/hour (ex VAT) per technician for any additional configuration required during office hours. All labour pricing is an estimate and our clients will be billed for additional time spent onsite. Onsite support services, unless stated, are not included.



    ·          The following rates apply to both in-house, remote and onsite services rendered per technician:



    Business Hours


    Mondays to Fridays between 08h30 and 17h00


    R320.00 per hour or part thereof (ex VAT)



    Saturdays & After Hours


    Mondays to Friday before 08h30 and after 17h00 + Saturdays


    R480.00 per hour or part thereof (ex VAT)



    Sunday Hours


    Sundays and Public Holidays


    R640.00 per hour or part thereof (ex VAT)





    ·          All equipment will at all times be maintained and kept clean and in good condition.

    ·          Equipment is inspected on return and any missing or damaged items will be charged for.

    ·          Insurance is included in the cost of rental. Being the property of  RENTWARE COMPUTER RENTALS cc, loss of or accidental damage to all equipment is insured in terms of RENTWARE COMPUTER RENTALS, CC’s own business insurance, subject to the following exceptions and excesses, for which the LESSEE will be liable:



    TYPE OF LOSS


    RENTEE’s RESPONSIBILITY/LIABILITY

    Any loss due to theft or damage




    To be reported to the police and Rentware Computer Rentals immediately



    Theft of equipment from premises not protected by an alarm linked to 24 hour armed response is not covered.


    100% of the replacement cost

    Theft of equipment from an unattended vehicle


    100% of the replacement cost



    Theft of equipment from locked boot of an unattended vehicle and there is visible proof of forcible entry into the locked boot


    10% of claim, subject to a minimum excess of R3000 [or a minimum excess of R1000 if no laptops are involved]

    Loss of or damage to equipment due to theft or attempted theft where equipment had been left in a vehicle overnight is not covered


    100% of the replacement cost







    Loss of or damage to equipment left in a vehicle overnight the vehicle is housed in a securely locked building and entry to or exit from the building is accompanied by forcible and violent entry or exit


    10% of claim, subject to a minimum excess of R3000 [or a minimum excess of R1000 if no laptops are involved]

    All other losses due to theft or accidental damage


    [a] 10% of claim, subject to a minimum excess of R1000 with respect to desktop equipment

    [b] 10% of claim, subject to a minimum excess of R3000 with respect to laptops





    ·          In the event of the LESSEE being a Close Corporation or a Company, by his signature hereto the LESSEE binds himself jointly and severally as surety and co-principal debtor with the LESSEE for the due performance of all the LESSEE’s obligations to the LESSOR.

    ·          In the event of loss / theft of equipment the LESSEE is liable for rental until the insurance claim or replacement cost of the missing equipment is settled. The replacement cost will be determined by us and will reflect the hardware, software and labour costs to produce a unit that can go into service in the rental pool.

    ·          Blacklist notification clause: Signatures hereto agree that all outstanding amounts are to be paid as per the invoice and/or debit order signed by the client by no later than 30 days after signature hereof. Should the client refuse or fail to adhere to the terms and conditions of the contracting party or of this agreement, signatures hereto consent to the listing of detail on credit bureaus and www.blacklist.co.za. Signatures hereto consent that the amount referred to on the front page is a liquid amount and consents to judgment in the case of non-payment in terms of Section 57 and 58 of Act 32 of 1944. Signatures here to agree and consent that this legal measure is both necessary and fair. All defenses in terms of the due and payable liquid amount owned are hereby laid down and the onus of proof in all matters is hereby transferred to the defendant in the main matter in the case if litigation.

    ·          In the event of the said business going insolvent, or closes down for whatever reason, the Landlord is hereby notified and agrees that he waivers the right to claim the above listed equipment in lieu of rent or any other expenses incurred by the tenant.

    ·          RENTWARE COMPUTER RENTALS cc shall not be liable to a customer for any loss or damage (whether direct or consequential) suffered as a result of a defect or malfunction of the machine.

    ·          A cancellation fee of 50% or R 500-00 per item will be charged if the order is cancelled within 48 hours before delivery.

    ·          Should the User return the equipment before the rental expiry date there will be no refund for the period the equipment was not in use unless stated to the contrary up front.

    ·          A duly authorized official of the User must sign all documentation with regards to this rental and the User shall accept full responsibility of the Goods on receipt.

    ·          The User may at no time without the written consent of the Owner; Open or alter any configuration on any of the machines rented.

    ·          This agreement shall in all respect be governed by and construed in accordance with the laws of the Republic of South Africa and all disputes; actions and other matters in connection herewith shall be determined in accordance with such laws.

    ·          All costs (including attorney own client costs) of legal action taken against the user by the owner will also be for the account of the user.


{% endblock %}
