{% extends 'base/base.html' %}

{% block content %}


{% load staticfiles %}


<link rel="stylesheet" href="{% static 'css/base.css' %}"></link>

<div class="container">

  <div class="row" >

    <div class="col-sm-1"></div>

      <form class="navbar-form" role="search">
        <div class="input-group add-on">
          <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
          <div class="input-group-btn">
            <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>

<span class="glyphicon btn btn-primary outline" aria-hidden="true"><a href="{% url 'customer_new' %}">New Customer</span></a>




          <table style="width:100%">
            <caption><h1>Customers</h1></caption>
            <tr>
              <th>AccountCode</th>
              <th>CompanyName</th>
              <th>VATNumber</th>
              <th>Contacts</th>
              <th>Addresses</th>
              <th>Images</th>
              <th>Comments</th>
              <th>Rentals</th>
              <th>Edit/View</th>
            </tr>
{% for g in customers%}
            <tr>
              <td style="width:10%"><a href="{#% url 'inventory_detail_guests' pk=guest.inventory.pk %#}" >
              {{ g.AccountCode }}
              </a></td>
              <td style="width:10%">{{ g.CompanyName }}</td>
              <td style="width:10%">{{ g.VATNumber }}</td>
              <td style="width:1%"><a href="{% url 'contact_list' customer_pk=g.pk  %}"><span class="glyphicon glyphicon-user"></span></a></td>
              <td style="width:1%"><a href="{% url 'address_list' customer_pk=g.pk  %}"><span class="glyphicon glyphicon-user"></span></a></td>
              <td style="width:1%"><a href="{% url 'image_list' customer_pk=g.pk  %}"><span class="glyphicon glyphicon-picture"></span></a></td>
              <td style="width:1%"><a href="{% url 'comment_list' customer_pk=g.pk  %}"><span class="glyphicon glyphicon-picture"></span></a></td>
              <td style="width:1%"><a href="{% url 'rental_list' customer_pk=g.pk  %}"><span class="glyphicon glyphicon-picture"></span></a></td>
              <td style="width:1%"><a href="{% url 'address_list' customer_pk=g.pk  %}"><span class="glyphicon glyphicon-picture"></span></a></td>
            </tr>
{% endfor %}
          </table>

{% endblock %}
