{% extends 'base/base.html' %}

{% block content %}

<div class="row" >
<div class="col-sm-2"></div>
  <div class="col-sm-4">
  <lable  for="flag"><h2>Uploaded documents and images</h2></lable>
  <div class="col-sm-4">
      <form method="POST" class="form-group" class="form-horizontal" class="form-control" class="post-form">{% csrf_token %}

{% for f in form %}
<div class={{f.id_for_label}}>
    {{ f.errors }}
    {{ f.label_tag }}
    {{ f }}
 </div>
{% endfor %}
<button type="submit" class="save btn btn-default">Save</button>
</form>
</div>
</div>
<div class="col-sm-4"></div>

{% endblock %}
