{% extends 'base/base.html' %}

{% block content %}
<div class="row" >
<div class="col-sm-2"></div>
  <div class="col-sm-4">
  <lable  for="guest"><h2>Contractor</h2></lable>
  <div class="col-sm-4">
      <form method="POST" class="form-group" class="form-horizontal" class="form-control" class="post-form">{% csrf_token %}
          {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
      </form>
      </div>
    </div>
  <div class="col-sm-4"></div>
{% endblock %}
